@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #040404,
    #0b0b0b,
    #111111,
    #151516,
    #19191a,
    #1a1c20,
    #1a2026,
    #17242c,
    #052a2f,
    #003029,
    #12331a,
    #2c3405
  );
  --headings: #353333;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.logo {
  margin: 20px;
  width: 70px;
  height: 70px;
}

.login-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 120px;
  left: 650px;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page h2 {
  font-size: 1.3rem;
  color: var(--headings);
}

.login-page form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.login-page input {
  width: 300px;
  height: 30px;
  font-size: 1.1rem;
  color: #fed138;
  background-color: #151323;
  border: none;
  outline: none;
  padding: 5px;
  margin-bottom: 15px;
}

::placeholder {
  color: #fed138;
}

.login-page button {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #151323;
  background-color: #fed138;
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.aside-errors {
  margin-top: 30px;
}

.aside-errors p {
  font-size: 1.3rem;
  font-weight: bold;
  color: firebrick;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
}

header h3 {
  width: 70%;
  display: inline;
  font-size: 1.7rem;
  color: cornsilk;
  padding: 30px 0 30px 510px;
}

header ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
}

header li {
  list-style: none;
  padding-left: 15px;
}

header a {
  font-size: 1.1rem;
  text-decoration: none;
  color: cornsilk;
}

header a span {
  font-weight: bold;
  color: yellow;
  padding-left: 3px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product {
  width: 200px;
  height: 150px;
  margin: 30px;
  padding: 10px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  box-shadow: 4px 1px 9px 5px rgba(21, 19, 35, 0.85);
}

.product a {
  padding: 10px;
  color: yellow;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

.products-aside {
  margin-left: -10px;
  margin-top: 32px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #151323;
}

.product button {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  color: cornsilk;
  background-color: #151323;
  border: none;
  outline: none;
  padding-right: 5px;
  cursor: pointer;
}

.product p {
  width: 100px;
  color: yellowgreen;
  font-size: 1.2rem;
  padding-left: 10px;
}

.details-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.details-page img {
  width: 400px;
  box-shadow: 4px 1px 9px 5px rgba(21, 19, 35, 0.85);
}

.details-page .details-aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.details-page h4 {
  font-size: 1.4rem;
  color: cornsilk;
}

.details-page .details-aside p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: cornsilk;
}

.details-page .details-aside h2 {
  margin-top: 10px;
  color: yellowgreen;
}

.details-button {
  position: absolute;
  top: 110px;
  right: 150px;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  color: #151323;
  background-color: cornsilk;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.orders-placed {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orders-placed p {
  font-size: 3rem;
  color: cornsilk;
}

.orders-placed button {
  width: 275px;
  height: 50px;
  border: none;
  outline: none;
  color: #151323;
  background-color: cornsilk;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-no-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-no-items p {
  font-size: 3rem;
  color: cornsilk;
}

.cart-no-items button {
  width: 275px;
  height: 50px;
  border: none;
  outline: none;
  color: #151323;
  background-color: cornsilk;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  flex-grow: 1;
}

.cart-page .cart-line {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.cart-page .cart-line img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.cart-text {
  display: flex;
  width: 50%;
}

.cart-page .cart-line h5 {
  margin-left: 10px;
  font-size: 1.3rem;
  color: cornsilk;
}

.cart-page .cart-line p {
  font-size: 1.1rem;
  margin-left: 10px;
  color: cornsilk;
}

.cart-page .cart-line span {
  font-size: 1.1rem;
  font-weight: bold;
  color: yellowgreen;
}

.cart-page .cart-line h4 {
  margin-top: -4px;
  margin-left: 20px;
  margin-right: 80px;
  font-size: 1.4rem;
  color: yellowgreen;
}

.cart-page .cart-line button {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  background-color: cornsilk;
  color: #151323;
  cursor: pointer;
}

.cart-page .cart-line .remove-button {
  width: 200px;
  height: 40px;
  color: #151323;
  background-color: yellowgreen;
}

.cart-page .return-button {
  position: absolute;
  top: 15px;
  right: 100px;
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: yellowgreen;
  color: #151323;
}

.checkout-aside {
  width: 300px;
  height: 200px;
  position: absolute;
  right: 30px;
  bottom: 0;
}

.checkout-aside h4 {
  padding: 5px;
  font-size: 1.1rem;
  color: cornsilk;
}

.checkout-aside p {
  padding: 5px;
  font-size: 1.3rem;
  color: cornsilk;
}

.checkout-aside span {
  font-size: 2rem;
  padding-left: 10px;
  color: yellowgreen;
}

.checkout-aside button {
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: cornsilk;
  color: #151323;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1 {
  font-size: 3rem;
  color: cornsilk;
}

.not-found button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #151323;
  background-color: cornsilk;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .copy {
  margin-right: 10px;
  color: cornsilk;
}

footer p {
  margin-right: 40px;
  color: cornsilk;
}
